<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LinApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3AD3825720519C0700741CC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AD3826B20519C0800741CC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AD3827620519C0800741CC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
